@import "../../color.scss";
@import "../../responsive.scss";
.singlePage {
  display: flex;
  height: 100%;
  @include sm {
    flex-direction: column;
    overflow-y: scroll;
  }
  .details {
    flex: 3;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    margin-bottom: 50px;
    @include sm {
      flex: none;
      height: max-content;
    }
    .wrapper {
      padding-right: 50px;
      @include sm {
        padding: 0;
      }
      .info {
        margin-top: 50px;
        .top {
          display: flex;
          justify-content: space-between;
          @include sm {
            flex-direction: column;
          }
          .post {
            display: flex;
            flex-direction: column;
            gap: 20px;
            h1 {
              font-weight: 40;
            }
            .address {
              display: flex;
              gap: 5px;
              align-items: center;
              color: #888;
              font-size: 14px;

              img {
                width: 16px;
                height: 16px;
              }
            }
            .price {
              padding: 5px;
              background-color: $light-sky-blue;
              border-radius: 5px;
              max-width: max-content;
              font-size: 30px;
              font-weight: 300;
            }
          }
          .user {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 0 50px;
            border-radius: 10px;
            background-color: $light-sky-blue;
            font-weight: 600;
            @include sm {
              margin-top: 20px;
              padding: 5px;
            }
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
        .bottom {
          margin-top: 50px;
          color: #555;
          line-height: 20px;
        }
      }
    }
  }
  .features {
    flex: 2;
    background-color: $light-sky-blue;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 10px 0;
    @include sm {
      flex: none;
      height: max-content;
    }
    .wrapper {
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      img {
        width: 24px;
        height: 24px;
      }
      .title {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
      }
      .feature {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          background-color: rgba(254, 205, 81, 0.2);
        }
        .featureText {
          span {
            font-weight: bold;
          }
          p {
            font-size: 14px;
          }
        }
      }
      .listVertical {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 10px;
        background-color: white;
        border-radius: 10px;
      }
      .listHorizontal {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        background-color: white;
        border-radius: 10px;
        @include sm {
          flex-direction: column;
          gap: 20px;
        }
      }
      .sizes {
        display: flex;
        gap: 20px;
        @include sm {
          flex-direction: column;
        }
        .size {
          display: flex;
          align-items: center;
          gap: 10px;
          background-color: white;
          padding: 10px;
          border-radius: 5px;
        }
      }
      .mapContainer {
        width: 100%;
        height: 350px;
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        button {
          padding: 10px;
          display: flex;
          align-items: center;
          gap: 5px;
          background-color: white;
          border: 1px solid orange;
          border-radius: 5px;
          cursor: pointer;
          img {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
