@import "../../color.scss";
.profilePage {
  display: flex;
  height: 100%;
  overflow-y: hidden;
  position: relative;
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .active {
    display: block;
  }
  .non-active {
    display: none;
  }
  .details {
    flex: 5;
    gap: 20px;
    overflow-y: scroll;
    scrollbar-width: thin;
    margin-bottom: 50px;
    .wrapper {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          padding: 12px 24px;
          background-color: orange;
          cursor: pointer;
          border: none;
        }
        .toggleUpdate {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }
      .admin {
        background-image: url(https://chunithm-net-eng.com/mobile/images/bg_chara_rainbow.png);
        background-repeat: no-repeat;
        background-position: center;
      }
      .info {
        display: flex;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f9f9f9;
        background-size: cover;
        padding: 20px;

        .description {
          flex: 1;
          align-items: flex-start;
          padding: 20px;
        }
        .infowrap {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 30px;
          span {
            display: flex;
            align-items: center;
            gap: 20px;
          }
          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }
          // .admin-button {
          //   width: 150px;
          //   height: 35px;
          // }
          .golden-btn + .golden-btn {
            margin-top: 1em;
          }

          .golden-btn {
            display: inline-block;
            outline: none;
            font-family: inherit;
            font-size: 1em;
            box-sizing: border-box;
            border: none;
            border-radius: 0.3em;
            height: 2.5em;
            width: 200px;
            line-height: 2.5em;
            text-transform: uppercase;
            padding: 0 1em;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
              0 3px 6px rgba(110, 80, 20, 0.4),
              inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
              inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
            background-image: linear-gradient(
              160deg,
              #a54e07,
              #b47e11,
              #fef1a2,
              #bc881b,
              #a54e07
            );
            border: 1px solid #a55d07;
            color: rgb(120, 50, 5);
            text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            background-size: 100% 100%;
            background-position: center;
          }
          .golden-btn:focus,
          .golden-btn:hover {
            background-size: 150% 150%;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
              0 6px 6px rgba(0, 0, 0, 0.23), inset 0 -2px 5px 1px #b17d10,
              inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
            border: 1px solid rgba(165, 93, 7, 0.6);
            color: rgba(120, 50, 5, 0.8);
          }
          .golden-btn:active {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
              0 3px 6px rgba(110, 80, 20, 0.4), inset 0 -2px 5px 1px #b17d10,
              inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
          }
        }
      }
    }
  }
  .chat {
    flex: 2;
    //background-color: $light-sky-blue;
    height: 100%;
    .wrapper {
      padding: 0 20px;
    }
  }
}
