button {
  border-radius: 5px;
  -webkit-transition: background-color 0.4s ease-out;
}
.on {
  background-color: greenyellow !important;
}
.off {
  background-color: red !important;
  color: white;
}
